body {
    text-align: center;
}

#board {
    background-color: black;
    border-top: 5px solid rgb(223, 135, 235);
    border-left: 5px solid rgb(223, 135, 235);
    border-right: 5px solid rgb(223, 135, 235);
}